body{
    background-color: rgba(240, 240, 240, 0.541);
}

.contents{
     background-color: rgb(252, 252, 252);
}


.navbar{
background-color: white;
}
.navbar #search{
    color: black;
    border:solid 1px rgba(0, 0, 0, 0.075);
    border-radius:10px;
    padding:3px 20px;
    background-color:rgba(219, 215, 215, 0.336)
}

.navbar input#search::placeholder{
color: rgba(73, 72, 72, 0.637);
}

.navbar input#search:focus{
background-color:rgba(192, 192, 192, 0.336);
transition: 0.3s;
box-shadow: none;
}

.navbar ul li a{
    font-size: x-large;
}

.navbar ul li a svg{
    color: red;
}
.navbar ul li a:hover svg{
     color: rgb(221, 2, 2);
}

.header h1{
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header ul{
list-style: none;
}

.header li{
padding-left: 5px;
padding-right: 5px;
}

.header li a{
text-decoration: none;
color: white;
}

.Sidebar .childDiv{
    max-height: 100vh;
    color: white;
    /* border-right: solid 1px rgba(0, 0, 0, 0.11); */
    
}

.Sidebar .childDiv hr{
border-bottom: solid 2px;
}

.Sidebar .h3{
    text-align: center;
    color: white;
}

.Sidebar .childDiv ul{
list-style-type: none;
margin: 0;
padding: 0;
}

.Sidebar .childDiv li{

    margin: 5px;
    border-radius: 5px;
}

.Sidebar .childDiv li a:hover{
    color: white;
    background-color: black;
}

.Sidebar .childDiv a{
display: block;
color: black;
border-radius: 8px;
text-decoration: none;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 10px;
padding-right: 5px;

}

.card img.avatar{
    max-height: 90px;
    width: auto;
    border-radius: 10px;
    clip-path: circle();
    object-fit: cover;
}

.feedContent img.postImage{
width: auto;
height: fit-content;
}

.postInteraction{
border: none;
border-color: rgba(0, 0, 0, 0.11);
border-radius: 5px;
}

.postInteraction button{
border-radius: 3px;
background-color: rgb(255, 0, 0);
color: white;
}

.postInteraction button:hover{
background-color: rgb(254, 72, 72);
color: white;
}