nav .message a{
    position: relative;
    display: inline-block;
}

nav .message p{
    font-size:x-small;
    font-weight: 800;
    color: white;
    position: absolute;
    top: 18px;
    left: 5px;
    z-index: 1;
   
}